<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="'viewport" content="width=device-width , initial-scale=1.0">
  <title> Check out</title>
  <link rel="stylesheet" href="/css/bye.css">


</head>
<body>
  <div class="container">
    <div class="popup">
      <img src="/img/tick.png" alt="">
      <h2>Thank you for your Purchase</h2>
      <p>Thank you for purchasing a car at Keza Car! We appreciate your business and hope to see you again soon.</p>
      <a class="green" th:href="@{/dashboard}">Go back to Home</a>
      

    </div>
  </div>
</body>
</html>