<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/homestyle.css" />
    <title>Keza Car</title>
</head>
<body>
<div class="container">
    <div class="logo-area">
        <img src="/img/tebo.jpg" alt="" />
        <img src="/img/muduga.png" alt=""/>
        <div>
            <div class="part-name">KEZA</div>
            <div class="another-part">CARS</div>
        </div>
    </div>
    <form action="" method="post" id="infor">
        <div class="information">
            <h2>DASHBOARD</h2>
            <p>CRUD TABLE</p>
        </div>
        <div class="wrapper">
            <div class="table" >
                <div class="row header ">

                    <table width="100%">
                        <thead>
                        <tr class="header">
                            <td>Car Id</td>
                            <td>Car Name</td>
                            <td>Car Price</td>
                            <td>Payment</td>
                            <td>Status</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ketsia:${form}">
                            <td th:text="${ketsia.getId()}"></td>
                            <td th:text="${ketsia.getCarName()}"></td>
                            <td th:text="${ketsia.getCarPrice()}"></td>
                            <td th:text="${ketsia.getPayment()}"></td>
                            <td th:text="${ketsia.getStatus()}"></td>
                            <td>
                                <a th:href="@{/update/{id}(id=${ketsia.getId()})}">Edit</a> |
                                <a th:href="@{/delete/{id}(id=${ketsia.getId()})}">Delete</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </form>
</div>
</body>
</html>
